*,
::before,
::after {
  box-sizing: border-box
}

body,
h1,
h2,
h3,
h4,
p,
button {
  margin: 0;
  padding: 0
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #33485D;
  font-weight: 500;
  background: linear-gradient(180deg, #219653 0%, #FFFFFF 100%) no-repeat;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

.test-products {
  background-color: #fff;
  margin-top: 40px;
  padding: 40px 40px 0 40px;
}

.products-top__title {
  font-weight: 400;
  font-size: 30px;
}

.products-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products-card {
  width: 276px;
  position: relative;
  border: 2px solid #239653;
  border-radius: 3px;
  padding: 14px 10px 30px 11px;
  margin: 30px 0;
  transition: .5s;
}

.products-card:hover {
  box-shadow: -1px 10px 10px 0px rgba(35, 150, 83, 0.3);
}

.card-top__label {
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 0 32px 0 21px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 5px;
  color: #fff;
  z-index: 10;
}

.label-top {
  background: #2D9CDB;
}

.label-new {
  background: #BB6BD9;
}


.card-top__button {
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 8px 4px 0px 5px;
  border-radius: 50%;
  transition: .5s;
}

.products-card:hover .card-top__button {
  opacity: 1;
}

.card-top__button:hover {
  background: rgba(216, 65, 65, .8);
}

.card-rating {
  display: flex;
  align-items: center;
}

.rating {
  margin: 0;
  padding: 0;
  border: 0;
}

.rating__caption {
  width: 1px;
  height: 0;
  opacity: 0;
}

.rating__group {
  position: relative;
  height: 14px;
  width: 80px;
  background-size: 16px 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.70012 13.9993C3.64527 13.9993 3.59042 13.9825 3.54432 13.9491C3.4627 13.8902 3.42191 13.7905 3.43913 13.6919L4.25817 8.95331L0.789387 5.59779C0.717314 5.52783 0.691353 5.42343 0.722355 5.32849C0.753622 5.23328 0.836548 5.16385 0.936443 5.14939L5.72984 4.45798L7.87375 0.146749C7.91827 0.0568061 8.01048 0 8.11117 0C8.21213 0 8.30433 0.0568061 8.34858 0.146749L10.4922 4.45798L15.2859 5.14939C15.3858 5.16385 15.4685 5.23302 15.5 5.32849C15.531 5.42343 15.5053 5.5281 15.433 5.59779L11.9642 8.95383L12.783 13.6922C12.7999 13.7908 12.7591 13.8905 12.6778 13.9494C12.5961 14.0088 12.4878 14.0164 12.3985 13.9694L8.11117 11.7323L3.82333 13.9694C3.78464 13.9893 3.74225 13.9993 3.70012 13.9993Z' fill='%23FFD480'/%3E%3C/svg%3E%0A");
}

.rating__star {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: none;
  outline: none;
  width: 16px;
  height: 14px;
  background-size: 16px 14px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.rating__star:focus {
  outline: none;
}

.rating__star:checked,
.rating__star:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.59246 13.9993C3.53761 13.9993 3.48275 13.9825 3.43665 13.9491C3.35504 13.8902 3.31424 13.7905 3.33146 13.6919L4.1505 8.95331L0.681721 5.59779C0.609648 5.52783 0.583687 5.42343 0.614689 5.32849C0.645956 5.23328 0.728882 5.16385 0.828777 5.14939L5.62217 4.45798L7.76609 0.146749C7.8106 0.0568061 7.90282 0 8.00351 0C8.10446 0 8.19667 0.0568061 8.24092 0.146749L10.3846 4.45798L15.1783 5.14939C15.2782 5.16385 15.3608 5.23302 15.3924 5.32849C15.4234 5.42343 15.3977 5.5281 15.3253 5.59779L11.8565 8.95383L12.6753 13.6922C12.6922 13.7908 12.6514 13.8905 12.5701 13.9494C12.4885 14.0088 12.3801 14.0164 12.2908 13.9694L8.00351 11.7323L3.71566 13.9694C3.67698 13.9893 3.63459 13.9993 3.59246 13.9993Z' fill='%23FFA800' /%3E%3C/svg%3E");
}

.rating__star:hover ~ .rating__star {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.70012 13.9993C3.64527 13.9993 3.59042 13.9825 3.54432 13.9491C3.4627 13.8902 3.42191 13.7905 3.43913 13.6919L4.25817 8.95331L0.789387 5.59779C0.717314 5.52783 0.691353 5.42343 0.722355 5.32849C0.753622 5.23328 0.836548 5.16385 0.936443 5.14939L5.72984 4.45798L7.87375 0.146749C7.91827 0.0568061 8.01048 0 8.11117 0C8.21213 0 8.30433 0.0568061 8.34858 0.146749L10.4922 4.45798L15.2859 5.14939C15.3858 5.16385 15.4685 5.23302 15.5 5.32849C15.531 5.42343 15.5053 5.5281 15.433 5.59779L11.9642 8.95383L12.783 13.6922C12.7999 13.7908 12.7591 13.8905 12.6778 13.9494C12.5961 14.0088 12.4878 14.0164 12.3985 13.9694L8.11117 11.7323L3.82333 13.9694C3.78464 13.9893 3.74225 13.9993 3.70012 13.9993Z' fill='%23FFD480'/%3E%3C/svg%3E%0A");
}

.rating__star:nth-of-type(1) {
  width: 16px;
  z-index: 5;
}

.rating__star:nth-of-type(2) {
  width: 32px;
  z-index: 4;
}

.rating__star:nth-of-type(3) {
  width: 48px;
  z-index: 3;
}

.rating__star:nth-of-type(4) {
  width: 64px;
  z-index: 2;
}

.rating__star:nth-of-type(5) {
  width: 80px;
  z-index: 1;
}

.card-rating__link {
  margin-left: 8px;
}

.card-rating__number {
  font-size: 15px;
}

.product-info {
  margin: 11px 0;
}

.product-info__title-group {
  font-size: 14px;
  color: #219653;
}

.product-info__paragraph {
  font-size: 18px;
  font-weight: 400;
  min-height: 62px;
  max-height: 62px;
  overflow: hidden;
  position: relative;
}

.product-info__paragraph::after {
  content: '';
  width: 100%;
  height: 25px;
  position: absolute;
  top: 45px;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 68.75%);
}

.product-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0 9px 0 9px;
}

.product-price__value {
  font-weight: 700;
  font-size: 24px;
}

.product-price__value-currency {
  font-weight: 300;
}

.product-availability,
.product-availability__btn {
  display: flex;
  align-items: center;
}

.product-availability__btn {
  color: #219653;
  font-size: 16px;
  font-weight: 500;
}

.product-availability__img {
  margin-right: 9px;
}

.product-availability__not-available {
  color: #00000080;
}

.products-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
}

.products-pagination__item {
  width: 40px;
  height: 40px;
  border: 1px solid #DDE8F0;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  color: #5C6D7D;
  transition: .5s;
}

.products-pagination__item {
  margin: 0 10px;
}

.products-pagination__item:hover {
  border-color: #74C3B4;
}

.products-pagination__item--active {
  border: 2px solid #74C3B4;
}

.products-pagination__prev-btn {
  margin-right: 10px;
}

.products-pagination__next-btn {
  transform: scale(-1, 1);
  margin-left: 10px;
}

.products-pagination__prev-btn:hover svg,
.products-pagination__next-btn:hover svg {
  stroke: #74C3B4;
}

@media (min-width: 280px) and (max-width: 570px) {
  .test-products {
    padding: 0 10px;
  }

  .products-top {
    padding: 20px 0 10px 0;
    text-align: center;
  }

  .products-main {
    justify-content: center;
  }

  .products-card {
    margin: 20px 0;
  }
}

@media (min-width: 571px) and (max-width: 768px) {

  .products-top {
    text-align: center;
    margin-bottom: 10px;
  }

  .products-main {
    justify-content: space-evenly;
  }

  .products-card {
    margin: 20px;
  }
}

@media (min-width: 769px) and (max-width: 967px) {
  .products-top {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .products-main {
    justify-content: space-evenly;
  }

  .products-card {
    margin: 20px 10px;
  }

  .products-top {
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .products-main {
    justify-content: space-evenly;
  }

  .products-card {
    margin: 20px 10px;
  }
}

@media (min-width: 1441px) and (max-width: 1700px) {
  .products-main {
    justify-content: space-evenly;
  }

  .products-card {
    margin: 30px 5px;
  }

}