*,
::before,
::after {
  box-sizing: border-box
}

body,
h1,
h2,
h3,
h4,
p,
button,
ul,
li,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #33485D;
  font-weight: 500;
  background: linear-gradient(180deg, #219653 0%, #FFFFFF 100%) no-repeat;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

.container {
  max-width: 1522px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 40px 0 40px;
}

.products {
  margin-top: 30px;
}

.products>.container {
  padding-bottom: 30px;
}

.product-tabs {
  padding-right: 40px;
}

.tabs {
  position: relative;
}

.tabs::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #DDE8F0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.tabs__list {
  display: flex;
}

.tabs-main {
  padding: 28px 83px 35px 0;
}

.tabs__item {
  z-index: 10;
  margin: 0 2px;
  padding: 9px 0 12px 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: .5s;
}

.tabs__item.active,
.tabs__item:hover {
  border-bottom: 2px solid #47B39C;
}

.tabs__item.active a,
.tabs__link-span {
  color: #47B39C;
}

.tabs__link {
  padding: 0 16px 11px 20px;
  font-weight: 500;
  color: #5C6D7D;
}

.tabs__link-span {
  font-weight: 700;
}

.tabs-content__item {
  display: none;
}

.tabs-content__item.active {
  display: block;
}

.product-info {
  display: grid;
  grid-template-columns: 0.3fr 1.1fr 1.6fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 50px 0;
  grid-template-areas:
    "first second third"
    "first four five";
}

.product-info-left {
  grid-area: first;
  text-align: center;
  width: 125px;
}

.product-info-image {
  grid-area: second;
}

.product-order {
  grid-area: third;
}

.product-characteristics {
  grid-area: four;
  margin: 1px 0 0 -1px;
}

.product-reviews {
  grid-area: five;
  padding: 3px 0 0 19px;
}

.product-info__slider {
  max-width: 580px;
  margin-left: 9px;
}

.product-slider {
  padding-top: 5px;
  padding-left: 5px;
}

.product-slider__item {
  margin-top: 3px;
  width: 120px !important;
  height: 122px;
  z-index: 10;
  padding-top: 1px;
}

.slick-current .product-slider__item {
  border: 2px solid #229754;
}

.slick-current .product-slider__item,
.product-slider__img {
  border-radius: 5px;
}

.product-slider__prev-img {
  transform: rotate(90deg);
  margin-top: -9px;
}

.product-slider__next-img {
  transform: rotate(-90deg);
  margin-top: 7px;
}

.product-order {
  padding: 9px 0 0 14px;
}

.product-statuses {
  display: flex;
  align-items: flex-end;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

input[name="product-rating"],
input[name="rewiew-rating"],
input[name="test-product-rating"] {
  pointer-events: none;
}

.product-rating .rating__group {
  width: 100px;
}

.product-rating .rating__group,
.product-rating .rating__star,
.product-rating .rating__star:checked {
  background-size: 20px 14px;
}

.product-rating .rating__star:nth-of-type(1) {
  width: 20px;
}

.product-rating .rating__star:nth-of-type(2) {
  width: 40px;
}

.product-rating .rating__star:nth-of-type(3) {
  width: 60px;
}

.product-rating .rating__star:nth-of-type(4) {
  width: 80px;
}

.product-rating .rating__star:nth-of-type(5) {
  width: 100px;
}

.product-part-number {
  margin-left: auto;
}

.product-rating__link {
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: .4s;
  margin-left: 4px;
}

.product-rating__link:hover {
  border-bottom: 1px solid #ADB6BE;
}

.product-part-number {
  font-weight: 500;
  font-size: 14px;
  color: #5C6D7D;
}

.product-part-number span {
  color: #33485D;
}

.buy-card {
  max-width: 589px;
  border: 1px solid #DDE8F0;
  border-radius: 10px;
  z-index: 1;
  margin: 27px 0 26px 2px;
}

.discount {
  display: flex;
  align-items: center;
  background: #FDEEEE;
  border: transparent;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.discount__title {
  margin: -1px 0 0 -1px;
  border-top-left-radius: 10px;
  font-size: 24px;
  padding: 14px 20px;
  color: #fff;
  background-color: #EB5757;
}

.discount__description {
  padding: 0 30px 0 20px;
  color: #EB5757;
  background: #FDEEEE;
  font-weight: 400;
  height: 60px;
  display: flex;
  align-items: center;
  margin: -1.5px -1px 0 0;
  border-top-right-radius: 10px
}

.product-price {
  display: flex;
  align-items: baseline;
  padding: 35px 0 18px 20px;
}


.product-price__value {
  font-weight: 700;
  font-size: 36px;
  color: #EB5757;
}

.product-price__symbol {
  margin-left: 8px;
}

.product-price__old-symbol {
  margin: 0;
}

.product-price__old-value {
  position: relative;
  color: #99A3AE;
  margin-left: 35px;
}

.product-price__old-value:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 77px;
  background-color: #EB5757;
}

.order {
  display: flex;
  height: 60px;
  margin-bottom: -1px;
}

.order__cart {
  background-color: #219653;
  border-bottom-left-radius: 10px;
  margin-left: -1px;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 15px 22px;
  margin-right: 9px;
  transition: .7s;
}

.order__cart:hover {
  background-color: #007734;
}

.order__card-img {
  margin-left: 41px;
}

.order__compare,
.order__favorite {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__compare,
.order__favorite,
.order__one-click {
  border: 2px solid #FFCB6D;
  transition: .7s;
}

.order__compare:hover,
.order__favorite:hover,
.order__one-click:hover,
.reviews__load-btn:hover {
  background-color: #ffb012;
  color: #fff;
}

.order__one-click {
  border-bottom-right-radius: 10px;
  margin-left: auto;
  margin-right: -1px;
  padding: 15px 44px 15px 19px;
  font-size: 14px;
  color: #5C6D7D;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: left;
}

.order__favorite {
  margin-left: -2px;
}

.order__favorite-img {
  margin: 9px 0 0 3px;
}

.order__one-click-img {
  margin-right: 12px;
}

.terms__item {
  position: relative;
}

.terms__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #DDE8F0;
}

.terms__item:last-of-type::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #DDE8F0;
}

.terms__top {
  display: flex;
  align-items: center;
  padding: 30px 0 30px 13px;
  cursor: pointer;
}

.terms__title {
  margin-left: 8px;
  font-weight: 700;
  color: #5C6D7D;
}

.terms__button {
  margin-left: auto;
  margin-right: 3px;
}

.terms__content {
  display: none;
  padding: 10px 5px 30px 5px;
}

.terms-item--active .terms__content {
  display: block;
}

.terms-item--active .terms__button-img {
  transform: scale(1, -1);
}

.product-characteristics__title,
.product-characteristics-full__title {
  font-size: 30px;
  font-weight: 400;
  color: #33485D;
  line-height: 36px;
  margin-top: 3px;
}

.product-characteristics__product-name,
.product-characteristics-full__product-name {
  color: #219653;
}

.product-characteristics__group,
.product-characteristics-full__group {
  margin-top: 36px;
  width: 393px;
}

.product-characteristics__item,
.product-characteristics-full__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.product-characteristics__label,
.product-characteristics-full__label {
  position: relative;
  align-self: flex-start;
  width: 60%;
}

.product-characteristics__label::before,
.product-characteristics-full__label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  border-bottom: 1px dotted #DDE8F0;
}

.product-characteristics__label span,
.product-characteristics-full__label span {
  position: relative;
  display: inline-block;
  padding-right: 9px;
  background-color: #fff;
  font-weight: 500;
  color: #33485D;
}

.product-characteristics__value,
.product-characteristics-full__value {
  width: 40%;
  padding-left: 9px;
  font-weight: 400;
  color: #5C6D7D;
}

.product-characteristics__link-more {
  padding-top: 20px;
  padding-bottom: 3px;
}

.product-characteristics__link-more,
.product-reviews__link {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  border-bottom: 1px solid transparent;
  transition: .5s;
  color: #33485D;
}

.product-characteristics__link-more:hover,
.product-reviews__link:hover {
  border-bottom: 1px solid #ADB6BE;
}

.product-characteristics__link-more::after,
.product-reviews__link::after {
  content: '';
  display: block;
  position: absolute;
  right: -18px;
  width: 9px;
  height: 6px;
  background: url("data:image/svg+xml, %3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.7227 1.08634C8.9712 0.837824 8.9712 0.434902 8.7227 0.186387C8.4742 -0.0621288 8.07125 -0.0621288 7.82275 0.186387L4.45455 3.55459L1.08634 0.186387C0.837824 -0.0621288 0.434902 -0.0621288 0.186387 0.186387C-0.0621289 0.434902 -0.0621289 0.837824 0.186387 1.08634L4.00457 4.90452C4.25309 5.15304 4.65601 5.15304 4.90452 4.90452L8.7227 1.08634Z' fill='%2333485D' /%3E%3C/svg%3E");
  transform: rotate(-90deg);
}

.product-reviews__heading {
  display: flex;
  align-items: center;
}

.product-reviews__title {
  font-weight: 400;
  font-size: 30px;
  color: #33485D;
}

.product-reviews__number {
  color: #219653;
  font-weight: 500;
}

.product-reviews__link {
  margin-left: auto;
  margin-right: 10px;
}

.product-reviews__link::after {
  right: -12px;
}

.reviews {
  padding-top: 11px;
}

.reviews__item {
  padding: 30px 25px 41px 0;
  position: relative;
}

.reviews__item::before {
  content: '';
  position: absolute;
  top: -4px;
  display: block;
  height: 1px;
  width: 100%;
  background: #DDE8F0;
}

.reviews__item:first-child::before {
  display: none;
}

.reviews__heading {
  display: flex;
  align-items: center;
  color: #33485D;
}

.reviews__slash {
  margin: 0px 6px 0 9px;
}

.reviews__date {
  font-size: 14px;
  color: #5C6D7D;
}

.reviews__rating {
  margin-top: -2px;
  margin-left: 18px;
}

.reviews__rating .rating__group {
  width: 95px;
}

.reviews__rating .rating__group,
.reviews__rating .rating__star,
.reviews__rating .rating__star:checked {
  background-size: 19px 14px;
}

.reviews__rating .rating__star:nth-of-type(1) {
  width: 19px;
}

.reviews__rating .rating__star:nth-of-type(2) {
  width: 38px;
}

.reviews__rating .rating__star:nth-of-type(3) {
  width: 57px;
}

.reviews__rating .rating__star:nth-of-type(4) {
  width: 76px;
}

.reviews__rating .rating__star:nth-of-type(5) {
  width: 95px;
}

.reviews__content {
  font-weight: 400;
  color: #5C6D7D;
  margin: 16px 0 0 0;
  line-height: 24px;
}

.reviews__load {
  display: flex;
  justify-content: center;
}

.reviews__load-btn {
  padding: 10px 28px 10px 29px;
  border: 1px solid #FFA800;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: -3px 0px 0px -52px;
  transition: .6s;
}

.tabs-description,
.tabs-characteristics,
.tabs-rewiews {
  padding: 40px 0;
}

.editorjs {
  width: 100%;
}

.codex-editor__redactor {
  padding: 200px 0;
  border: 5px solid #219653;
  border-radius: 10px;
}

.ce-block__content {
  border: 3px solid #219653;
  border-radius: 10px;
}

.codex-editor--narrow .codex-editor__redactor {
  margin-right: 0;
}

.test-products {
  padding: 30px 0 0 1px;
}

.test-products__title {
  font-weight: 400;
  font-size: 30px;
}

.products-main {}

.cards-slider__button-prev {
  position: absolute;
  top: calc(50% - 26px);
  left: -28px;
  z-index: 1;
}

.cards-slider__button-next {
  position: absolute;
  top: calc(50% - 26px);
  transform: scale(-1, 1);
  right: -26px;
  z-index: 1;
}

.products-card {
  width: 276px !important;
  position: relative;
  border: 2px solid #239653;
  border-radius: 3px;
  padding: 20px 11px 34px 10px;
  margin: 28px 0px;
  transition: .5s;
}

.products-card:hover {
  box-shadow: -1px 10px 10px 0px rgba(35, 150, 83, 0.3);
}

.card-top__label {
  position: absolute;
  top: -2px;
  left: -2px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 5px;
  color: #fff;
  z-index: 10;
}

.label-top {
  background: #2D9CDB;
  padding: 4px 45px 4px 23px;
}

.label-new {
  padding: 4px 39px 4px 23px;
  background: #BB6BD9;
}

.card-top__button {
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 8px 4px 0px 5px;
  border-radius: 50%;
  transition: .5s;
}

.products-card:hover .card-top__button {
  opacity: 1;
}

.card-top__button:hover {
  background: rgba(216, 65, 65, .8);
}

.card-desc {
  padding: 4px 0px 0px 8px;
}

.card-rating {
  display: flex;
  align-items: center;
  margin: 2px 0 -3px 0;
}

.rating {
  margin: 0;
  padding: 0;
  border: 0;
}

.rating__caption {
  width: 1px;
  height: 0;
  opacity: 0;
}

.rating__group {
  position: relative;
  height: 14px;
  width: 80px;
  background-size: 16px 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.70012 13.9993C3.64527 13.9993 3.59042 13.9825 3.54432 13.9491C3.4627 13.8902 3.42191 13.7905 3.43913 13.6919L4.25817 8.95331L0.789387 5.59779C0.717314 5.52783 0.691353 5.42343 0.722355 5.32849C0.753622 5.23328 0.836548 5.16385 0.936443 5.14939L5.72984 4.45798L7.87375 0.146749C7.91827 0.0568061 8.01048 0 8.11117 0C8.21213 0 8.30433 0.0568061 8.34858 0.146749L10.4922 4.45798L15.2859 5.14939C15.3858 5.16385 15.4685 5.23302 15.5 5.32849C15.531 5.42343 15.5053 5.5281 15.433 5.59779L11.9642 8.95383L12.783 13.6922C12.7999 13.7908 12.7591 13.8905 12.6778 13.9494C12.5961 14.0088 12.4878 14.0164 12.3985 13.9694L8.11117 11.7323L3.82333 13.9694C3.78464 13.9893 3.74225 13.9993 3.70012 13.9993Z' fill='%23FFD480'/%3E%3C/svg%3E%0A");
}

.rating__star {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
  outline: none;
  width: 16px;
  height: 14px;
  background-size: 16px 14px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.rating__star:focus {
  outline: none;
}

.rating__star:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.59246 13.9993C3.53761 13.9993 3.48275 13.9825 3.43665 13.9491C3.35504 13.8902 3.31424 13.7905 3.33146 13.6919L4.1505 8.95331L0.681721 5.59779C0.609648 5.52783 0.583687 5.42343 0.614689 5.32849C0.645956 5.23328 0.728882 5.16385 0.828777 5.14939L5.62217 4.45798L7.76609 0.146749C7.8106 0.0568061 7.90282 0 8.00351 0C8.10446 0 8.19667 0.0568061 8.24092 0.146749L10.3846 4.45798L15.1783 5.14939C15.2782 5.16385 15.3608 5.23302 15.3924 5.32849C15.4234 5.42343 15.3977 5.5281 15.3253 5.59779L11.8565 8.95383L12.6753 13.6922C12.6922 13.7908 12.6514 13.8905 12.5701 13.9494C12.4885 14.0088 12.3801 14.0164 12.2908 13.9694L8.00351 11.7323L3.71566 13.9694C3.67698 13.9893 3.63459 13.9993 3.59246 13.9993Z' fill='%23FFA800' /%3E%3C/svg%3E");
}

.card-rating .rating__star:nth-of-type(1) {
  width: 16px;
  z-index: 5;
}

.card-rating .rating__star:nth-of-type(2) {
  width: 32px;
  z-index: 4;
}

.card-rating .rating__star:nth-of-type(3) {
  width: 48px;
  z-index: 3;
}

.card-rating .rating__star:nth-of-type(4) {
  width: 64px;
  z-index: 2;
}

.card-rating .rating__star:nth-of-type(5) {
  width: 80px;
  z-index: 1;
}

.card-rating__link {
  margin-left: 8px;
  font-size: 15px;
}

.test-product-info {
  margin: 11px 0;
}

.test-product-info__title-group {
  font-size: 14px;
  color: #219653;
}

.test-product-info__paragraph {
  font-size: 18px;
  font-weight: 400;
  min-height: 62px;
  max-height: 62px;
  overflow: hidden;
  position: relative;
}

.test-product-info__paragraph::after {
  content: '';
  width: 100%;
  height: 25px;
  position: absolute;
  top: 45px;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 68.75%);
}

.test-product-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 1px 9px 0px 3px;
}

.test-product-price__value {
  font-weight: 700;
  font-size: 24px;
}

.test-product-price__value-currency {
  font-weight: 300;
}

.availability,
.availability__btn {
  display: flex;
  align-items: center;
}

.availability__text {
  color: #219653;
  font-size: 16px;
  font-weight: 500;

}

.product-statuses .availability__img,
.product-statuses .availability__img-not {
  margin-right: 13px;
}

.availability__img,
.availability__img-not {
  margin-right: 9px;
}

.availability__not {
  color: #00000080;
}

.products-pagination {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
}

.products-pagination__item {
  width: 40px;
  height: 40px;
  border: 1px solid #DDE8F0;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  color: #5C6D7D;
  transition: .5s;
}

.products-pagination__item {
  margin: 0 10px;
}

.products-pagination__item:hover {
  border-color: #74C3B4;
}

.products-pagination__item--active {
  border: 2px solid #74C3B4;
}

.products-pagination__prev-btn {
  margin-right: 10px;
}

.products-pagination__next-btn {
  transform: scale(-1, 1);
  margin-left: 10px;
}

.products-pagination__prev-btn:hover svg,
.products-pagination__next-btn:hover svg {
  stroke: #74C3B4;
}

.call-back {
  width: 99.9%;
  background-color: #0D4128;
  text-align: center;
  padding: 29px 0 51px 0;
  color: #fff;
  margin-top: 2px;
  border-radius: 3px;
  margin-left: -1px;
}

.call-back__title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 19px
}

.call-back__form {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.call-back__input {
  height: 60px;
  width: 586px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0 235px 0 18px;
}

.call-back__input:focus {
  outline: none;
  border: none;
}

.call-back__input[placeholder] {
  font-weight: 400;
  color: #33485D;
  font-size: 16px;
}

.call-back__button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background: #FFA800;
  padding: 12px 46px 12px 46px;
  border: 2px solid #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: .7s;
}

.call-back__button:hover {
  background: #bbae00;
}

.footer,
.footer>.container {
  background: #0D4128;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1.6fr 0.7fr 1fr 0.7fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 35px 0px;
  grid-template-areas:
    "links group1 group2 hotline"
    "authorship authorship authorship authorship";
  padding: 56px 0 26px 0;
}

.footer__links {
  grid-area: links;
  margin-top: 2px;
}

.footer__services {
  grid-area: group1;
  padding-left: 33px;
}

.footer__info {
  grid-area: group2;
  padding-left: 24px;
}

.footer__hotline {
  grid-area: hotline;
  padding-left: 10px;
}

.footer__authorship {
  grid-area: authorship;
  display: flex;
  color: #86A093;
  position: relative;
  padding: 27px 102px 0 1px;
  font-size: 14px;
  font-weight: 400;
}

.footer__authorship-developer {
  margin-left: auto;
}

.footer__authorship::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  height: 1px;
  width: 100%;
  background: #5C6D7D;
}

.footer__logo {
  margin-left: 1px;
}

.footer__social-group {
  display: flex;
  align-items: center;
  margin: 30px 0 39px 3px;
}

.footer__social-item:not(:last-child) {
  margin-right: 27px;
}

.footer__social-link svg,
.footer-delivery svg {
  transition: .5s;
}

.footer__social-link:hover svg,
.footer-delivery:hover svg {
  fill-opacity: 1;
}

.footer__partnership,
.footer-payments {
  display: flex;
  align-items: center;
}

.footer__partnership {
  margin-left: 3px;
}

.footer-payments {
  margin-left: 57px;
}

.footer-payments__item:not(:last-child) {
  margin-right: 6px;
}

.footer-payments__item:not(:first-child) {
  margin-top: -2px;
}

.footer-payments__img {
  height: 30px;
  width: 100%;
  border-radius: 3px;
}

.footer__title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.footer__services-link,
.footer__info-link {
  font-size: 14px;
  font-weight: 400;
}

.footer__services-link,
.footer__info-link,
.footer__authorship-link,
.footer__hotline-link {
  color: #86A093;
  transition: .5s;
}

.footer__services-link:hover,
.footer__info-link:hover,
.footer__authorship-link:hover,
.footer__hotline-link:hover {
  color: #fff;
}

.footer__services-group,
.footer__info-group {
  margin-top: 17px;
}

.footer__services-item,
.footer__info-item {
  margin-bottom: 1px;
  line-height: 100%;
}

.footer__hotline-group {
  padding-top: 21px;
}

.footer__hotline-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

.footer__hotline-main-item {
  padding-bottom: 14px;
  line-height: 20px;
}

.footer__hotline-main-item .footer__hotline-link {
  font-size: 24px;
}

.footer__authorship-developer span{
  opacity: .5;
}

.description-title {
  font-size: 30px;
  font-weight: 400;
}

.description-title span {
  color: #219653;
}

.description-paragraph {
  color: #333333;
  margin: 20px 0;
}

.description-list {
  list-style: inside;
  padding-left: 20px;
}

.description-paragraph span,
.description-list {
  color: #5c5c5c;
}

@media (min-width: 280px) and (max-width: 570px) {

  .container {
    padding: 0 10px;
  }

  .tabs__list {
    overflow: scroll;
  }

  .product-tabs,
  .tabs-main,
  .tabs__link {
    padding: 0;
  }

  .tabs__item {
    padding: 10px 0 10px 0;
    white-space: nowrap;
  }

  .tabs__link {
    margin: 0 15px;
  }

  .product-info {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 30px 0px;
    grid-template-areas:
      "left image"
      "order order"
      "characteristics characteristics"
      "reviews reviews";
    padding: 10px 0;
  }

  .product-info-left {
    grid-area: left;
    width: 54px;
  }

  .product-info-image {
    grid-area: image;
  }

  .product-order {
    grid-area: order;
    padding: 0;
  }

  .product-characteristics {
    grid-area: characteristics;
  }

  .product-reviews {
    grid-area: reviews;
  }

  .product-slider {
    margin: 0;
    padding: 0;
  }

  .product-slider__button-prev.slick-arrow,
  .product-slider__button-next.slick-arrow {
    display: none !important;
  }

  .product-slider__item {
    height: 54px;
    width: 54px !important;
  }

  .product-info-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-info__slider {
    width: 232px;
    margin: 0;
  }

  .product-info__slider .slick-slide {
    width: 232px !important;
  }

  .product-statuses {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .product-rating {
    margin-left: auto;
  }

  .product-part-number {
    margin: 10px 0 0 auto;
  }

  .discount {
    flex-direction: column;
  }

  .discount__title,
  .discount__description {
    width: calc(100% + 2px);
  }

  .discount__title {
    padding: 10px 0;
    text-align: center;
    border-top-right-radius: 10px;
    margin: -1px 0 0 -1px;
  }

  .discount__description {
    height: auto;
    border-radius: 0;
    padding: 0 10px 0 10px;
    margin-left: -1px;
  }

  .product-price {
    padding: 20px 0;
    justify-content: center;
  }

  .order {
    height: auto;
    flex-direction: column;
    position: relative;
  }

  .order__compare {
    order: 1;
    position: absolute;
    left: 0;
    width: calc(50% + 1px);
    margin-left: -1px;
    height: 50px;
  }

  .order__favorite {
    order: 2;
    position: absolute;
    right: 0;
    width: calc(50% + 3px);
    margin-right: -1px;
    margin-left: -2px;
    height: 50px;
    margin-left: 0;
  }

  .order__one-click {
    order: 3;
    margin-top: 48px;
    border-radius: 0;
    margin-left: -1px;
    justify-content: center;
  }

  .order__cart {
    order: 4;
    width: calc(100% + 2px);
    margin: -2px -1px 0 -1px;
    border-bottom-right-radius: 10px;
    justify-content: space-evenly;
  }

  .product-characteristics__group,
  .product-characteristics-full__group {
    margin-top: 20px;
    width: 100%;
  }

  .product-reviews {
    padding: 0;
  }

  .product-reviews__heading {
    flex-direction: column;
  }

  .product-reviews__title {
    text-align: right;
  }

  .product-reviews__link {
    margin-top: 20px;
  }

  .reviews__item {
    padding: 30px 0 30px 0;
  }

  .reviews__heading {
    flex-wrap: wrap;
    align-items: baseline;
  }

  .reviews__rating {
    margin: 10px 0 0 0;
  }

  .reviews__content {
    margin-top: 20px;
  }

  .reviews__load-btn {
    margin: 20px 0 30px 0;
  }

  .terms__content {
    padding: 0px 5px 20px 5px;
  }

  .test-products {
    padding: 0;
  }

  .test-products-top {
    padding: 20px 0 10px 0;
    text-align: center;
  }

  .cards-slider__button-prev {
    left: -7px;
  }

  .cards-slider__button-next {
    right: -7px;
  }

  .call-back__title {
    font-size: 21px;
  }

  .call-back__form {
    display: flex;
    flex-direction: column;
  }

  .call-back {
    margin: 0;
    width: 100%;
    padding: 25px 0 30px 0;
  }

  .call-back__input {
    width: 100%;
    height: auto;
    margin: 10px auto 30px auto;
    padding: 20px 10px 20px 20px;
  }

  .call-back__button {
    margin: 0 auto;
    width: 50%;
    position: relative;
    transform: none;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 16px;
  }

  .footer__inner {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 0px 0px;
    grid-template-areas:
      "footer__links"
      "footer__hotline"
      "footer__authorship";
    padding: 50px 0 30px 0;
  }

  .footer__links {
    grid-area: footer__links;
    margin: 0;
  }

  .footer__hotline {
    grid-area: footer__hotline;
    padding: 0;
  }

  .footer__authorship {
    grid-area: footer__authorship;
    padding: 0;
  }

  .footer__logo {
    margin: 0;
    text-align: center;
  }

  .footer__social-group {
    margin: 30px 0 30px 0px;
    justify-content: center;
  }

  .footer__partnership {
    margin: 0;
    flex-direction: column;
    justify-content: center;
  }

  .footer-payments {
    margin: 20px 0;
  }

  .footer__hotline {
    margin: 0 auto;
  }

  .footer__authorship {
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding-top: 10px;
  }

  .footer__authorship-developer {
    margin: 10px 0 0 0;
  }

  .footer__services,
  .footer__info {
    display: none;
  }
}

@media (min-width: 374px) and (max-width: 767px) {

  .availability {
    order: 2;
    margin-left: auto;
  }



  .product-rating {
    order: 1;
    margin: 0;
  }

  .product-part-number {
    margin: 0 0 0 auto;
    order: 3;
  }

  .cards-slider__button-next {
    right: 0;
  }

  .cards-slider__button-prev {
    left: 0;
  }

  .reviews__rating {
    margin: 0 0 0 20px;
  }
}


@media (min-width: 571px) and (max-width: 1024px) {


  .tabs__list {
    justify-content: space-between;
  }

  .tabs__link {
    padding: 0;
  }

  .product-tabs {
    padding: 0;
  }

  .tabs-main {
    padding: 0;
  }

  .product-info {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 50px 0px;
    grid-template-areas:
      "left image"
      "order order"
      "characteristics characteristics"
      "reviews reviews";
    padding: 10px 0;
  }

  .product-info__slider {
    margin: 0 auto;
  }

  .product-info-left {
    grid-area: left;
  }

  .product-info-image {
    grid-area: image;
  }

  .product-order {
    grid-area: order;
    padding: 0;
  }

  .product-characteristics {
    grid-area: characteristics;
  }

  .product-reviews {
    grid-area: reviews;
    padding: 0;
  }

  .buy-card {
    margin: 25px auto;
  }

  .reviews__load-btn {
    margin: 0;
  }

  .products-top {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer__inner {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 0 0px 0;
  }

  .footer__logo {
    text-align: center;
  }

  .footer__partnership {
    margin: 0;
    flex-direction: column;
    justify-content: center;
  }

  .footer-payments {
    margin: 20px 0 0 0;
  }

  .footer__social-group {
    justify-content: center;
  }

}

@media (min-width: 571px) and (max-width: 767px) {
  .product-slider__item {
    width: 100px !important;
    height: 103px !important;
  }

  .product-info-image {
    width: 365px;
    margin: auto;
  }

  .order__favorite {
    margin-right: 8px;
  }

  .call-back__title {
    font-size: 21px;
  }

  .call-back__form {
    display: flex;
    flex-direction: column;
  }

  .call-back {
    margin: 0;
    width: 100%;
    padding: 25px 0 30px 0;
  }

  .call-back__input {
    width: 100%;
    height: auto;
    margin: 10px auto 30px auto;
    padding: 20px 10px 20px 20px;
  }

  .call-back__button {
    margin: 0 auto;
    width: 50%;
    position: relative;
    transform: none;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 16px;
  }

  .footer__inner {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 0px 0px;
    grid-template-areas:
      "footer__links"
      "footer__hotline"
      "footer__authorship";
    padding: 50px 0 30px 0;
  }

  .footer__links {
    grid-area: footer__links;
    margin: 0;
  }

  .footer__hotline {
    grid-area: footer__hotline;
    padding: 0;
  }

  .footer__authorship {
    grid-area: footer__authorship;
    padding: 0;
  }

  .footer__logo {
    margin: 0;
    text-align: center;
  }

  .footer__social-group {
    margin: 30px 0 30px 0px;
    justify-content: center;
  }

  .footer__partnership {
    margin: 0;
    flex-direction: column;
    justify-content: center;
  }

  .footer-payments {
    margin: 20px 0;
  }

  .footer__hotline {
    margin: 0 auto;
  }

  .footer__authorship {
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding-top: 10px;
  }

  .footer__authorship-developer {
    margin: 10px 0 0 0;
  }

  .footer__services,
  .footer__info {
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .tabs__list {
    justify-content: space-evenly;
  }
}


@media (min-width: 1025px) and (max-width: 1440px) {

  .tabs-main,
  .product-order,
  .product-reviews {
    padding: 0;
  }

  .product-order {
    margin: 40px 0 0 0;
  }

  .buy-card {
    margin: 50px auto;
  }

  .product-info {
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 0px 0px;
    grid-template-areas:
      "first second"
      "third third"
      "four four"
      "five five";
  }

  .product-info-image {
    margin: 0 auto;
  }

  .product-characteristics {
    margin: 50px 0;
  }
}

@media (min-width: 1441px) and (max-width: 1550px) {
  .order__favorite {
    margin-right: 10px;
  }
}